<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font-Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- ScriptJS -->
    <script defer src="script.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <h1 class="text-center mt-2">Cose da fare</h1>
        <!-- Search-Bar -->

        <!-- <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Cerca.." />
          <span class="input-group-text"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></span>
        </div> -->
        <div class="mb-3">
         <ul class="list-unstyled">
          <li v-for="task in tasks" class="mt-2"  :class="{ 'text-decoration-line-through': task.done }"  >
            <input class="form-control" v-model="task.text" />
          </li>
         </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
